[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = me@locnh.com
	name  = Loc Nguyen
[merge]
	conflictStyle = diff3
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
